<h1>Admin Login</h1>
<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
<% end %>
<%= form_tag ({controller: 'admin/session', action: 'create'}) do %>
  <%= label_tag :cpf, 'CPF: ' %>
  <%= text_field_tag :cpf %>
  <br>
  <%= label_tag :password, 'Senha: ' %>
  <%= password_field_tag :password %>
  <br>
  <%= submit_tag 'Login' %>
<% end %>
<%= link_to 'Voltar', app_path %>
