<p id="notice"><%= notice %></p>

<h1>Listing Admin Atendimentos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_atendimentos.each do |admin_atendimento| %>
      <tr>
        <td><%= link_to 'Show', admin_atendimento %></td>
        <td><%= link_to 'Edit', edit_admin_atendimento_path(admin_atendimento) %></td>
        <td><%= link_to 'Destroy', admin_atendimento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Atendimento', new_admin_atendimento_path %>
