<!DOCTYPE html>
<html>
<head>
  <title>Thelgrains</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </script>
</head>
<body>
  <% if flash[:alert] %>
    <%= flash[:alert] %>
  <% end %>
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>

<%= yield %>

<p><%= link_to 'Logout', logout_path %> </p>
<p><%= link_to 'Admin', new_admin_user_session_path %> </p>
</body>
</html>
